<div class="app-container">
  <app-menu-mobile></app-menu-mobile>
  <app-menu-lateral> </app-menu-lateral>
  <div class="main-content">
    <div class="profile-container">
      <!-- Avatar e ações principais -->
      <div class="profile-header">
        <div class="avatar-wrapper">
          <img [src]="usuarioLogado?.foto" alt="Avatar do usuário" class="profile-avatar" />
        </div>
        <div class="profile-actions">
          <button type="button" class="btn btn-follow">Seguir</button>
        </div>
      </div>

      <!-- Informações do usuário -->
      <div class="profile-info">
        <h2 class="profile-name">{{usuarioLogado?.nome}}</h2>
        <p class="profile-extra">
          <span><strong>100</strong> seguindo</span>
          <span><strong>250</strong> seguidores</span>
        </p>
      </div>

      <!-- Navegação de abas (Tweets, Respostas, Mídia) -->
      <nav class="profile-nav">
        <ul>
          <li class="active"><a>Tweets</a></li>
        </ul>
      </nav>

      <!-- Feed de publicações -->
      <div class="profile-feed">

        <article class="post" *ngFor="let postagem of postagens">
          <div class="post-header" >
            <div class="post-user">
              <strong>{{postagem.usuario.nome}}</strong>
              <span class="post-date">{{postagem.dataPostagem | date : "dd/MM/yyyy"}}</span>
            </div>
          </div>
          <div class="post-body">
            <p>{{postagem.mensagem}}.</p>
            <!-- Eventuais imagens, vídeos, etc. -->
          </div>
          <div class="post-footer">

            <button class="action-btn">
              <ng-icon class="btn-icon" name="heroHeart"></ng-icon>
              {{ postagem.quantidadeCurtidas }} 
            </button>

            <button class="action-btn">
              <ng-icon class="btn-icon" name="heroChatBubbleOvalLeft"></ng-icon>
            </button>
            
          </div>
        </article>
        <!-- Repetir <article class="post"> para cada publicação -->
      </div>
    </div>
  </div>
  <div *ngIf="feedService.publicacaoModal">
    <app-postagem></app-postagem>
  </div>
  <aside class="right-sidebar">
    <app-menu-lateral-direito></app-menu-lateral-direito>
  </aside>
</div>
