<!-- reset-senha.component.html -->
<div class="overlay"></div>
<div class="container">
  <div class="logo-wrapper">
    <img src="assets/logo-nester.png" alt="Logo Nester" class="logo-img" />
  </div>
  <h1>Redefinir Senha</h1>
  <p>Digite seu email para receber o link de redefinição de senha.</p>
  <form (ngSubmit)="enviarEmail()" [formGroup]="resetSenhaForm" class="reset-form">
    <div class="form-group">
      <label for="emailReset">Email</label>
      <input
        type="email"
        id="emailReset"
        name="emailReset"
        placeholder="seu@email.com"
        formControlName="email"
        required
      />
    </div>
    
    <button *ngIf="!loading" type="submit" class="btn-submit">Enviar</button>
    <div *ngIf="loading" class="spinner"></div>
  </form>
  <div class="options">
    <a [routerLink]="['/login']" class="link-option">Voltar ao Login</a>
    <span>·</span>
    <a [routerLink]="['/cadastro']" class="link-option">Cadastre-se</a>
  </div>
  
</div>


