<div class="app-container">
  <!-- Menu Lateral Esquerdo -->
  <aside class="sidebar">
    <div class="logo-wrapper">
      <img src="assets/logo-nester.png" alt="Logo Nester" class="logo-img" />
    </div>
    <nav class="nav-menu">
      <button [routerLink]="['/feed']">

        <ng-icon title="Home" name="heroHome" />
      </button>

      <button>
        <ng-icon title="Perfil" name="heroUserCircle" />
      </button>

      <button (click)="abrirModalPublicacao()">
        <ng-icon title="Fazer postagem" name="heroPlusCircle" />
      </button>

      <button>
        <ng-icon title="Itens Salvos" name="heroBookmark" />
      </button>

      <button>
        <ng-icon title="Configurações" name="heroCog8Tooth" />
      </button>
    </nav>
  </aside>
</div>