<!-- overlay -->
<div class="modal-overlay">
  <!-- modal -->
  <div class="modal">
    <!-- header -->
    <div class="modal-header">
        <h2 class="modal-title">Nova Postagem</h2>
        <button class="btn-text" (click)="fecharModalPublicacao()" ><ng-icon title="Fechar postagem"  name="heroXMark"/></button>
    </div>

    <!-- body -->
    <div class="modal-body">
      <textarea class="areadetexto"
        rows="4"
        placeholder="O que está acontecendo?"
      ></textarea>
    </div>

    <!-- footer -->
    <div class="modal-footer">
      <button class="btn-primary">Postar</button>
    </div>
  </div>
</div>