<div class="app-container">
  <app-menu-mobile></app-menu-mobile>
  <app-menu-lateral></app-menu-lateral>

  <main class="main-feed">
    <div class="feeds-wrapper">
      <!-- Feed 'Para Você' -->
      <div class="feed-column" *ngIf="feed1">
        <a (click)="trocarAssuntoFeed()">
          <h2 class="feed-title">Para Você</h2>
        </a>
        <div class="feed-container">
          <article class="post" *ngFor="let postagem of postagensForYou">
            <header class="post-header">
              <div class="post-user">
                <div class="post-user-info">
                  <strong>{{ postagem.usuario.nome }}</strong>
                  <span>{{ postagem.dataPostagem | date : "dd/MM/yyyy" }}</span>
                </div>
              </div>
            </header>

            <div class="post-content">
              <p>{{ postagem.mensagem }}</p>
            </div>

            <footer class="post-actions">
              <button
                class="action-btn"
                aria-label="Curtir post"
                (click)="
                  postagem.jaCurtiu
                    ? removerCurtida(postagem)
                    : curtirPostagem(postagem)
                "
              >
                <ng-icon
                  [name]="postagem.jaCurtiu ? 'heroHeartSolid' : 'heroHeart'"
                ></ng-icon>
                {{ postagem.quantidadeCurtidas }}
              </button>

              <button class="action-btn" aria-label="Comentar post">
                <ng-icon name="heroChatBubbleOvalLeft"></ng-icon>
              </button>
            </footer>
          </article>
        </div>
      </div>

      <!-- Feed 'Seguindo' -->
      <div class="feed-column" *ngIf="feed2">
        <a (click)="trocarAssuntoFeed()">
          <h2 class="feed-title">Seguindo</h2>
        </a>
        <div class="feed-container">
          <article class="post" *ngFor="let postagem of postagensSeguindo">
            <header class="post-header">
              <div class="post-user">
                <div class="post-user-info">
                  <strong>{{ postagem.usuario.nome }}</strong>
                  <span>{{ postagem.dataPostagem | date : "dd/MM/yyyy" }}</span>
                </div>
              </div>
            </header>

            <div class="post-content">
              <p>{{ postagem.mensagem }}</p>
            </div>

            <footer class="post-actions">
              <button
                class="action-btn"
                aria-label="Curtir post"
                (click)="
                  postagem.jaCurtiu
                    ? removerCurtida(postagem)
                    : curtirPostagem(postagem)
                "
              >
                <ng-icon
                  [name]="postagem.jaCurtiu ? 'heroHeartSolid' : 'heroHeart'"
                ></ng-icon>
                {{ postagem.quantidadeCurtidas }}
              </button>

              <button class="action-btn" aria-label="Comentar post">
                <ng-icon name="heroChatBubbleOvalLeft"></ng-icon>
              </button>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </main>

  <div *ngIf="postagemService.modalCadastrarPostagem">
    <app-postagem></app-postagem>
  </div>

  <app-menu-lateral-direito></app-menu-lateral-direito>
</div>
