/* Área dos Feeds */
.main-feed {
  flex: 1;
  padding: 10px 30px 0px 250px;
  overflow: hidden;
}

.feeds-wrapper {
  display: flex;
  gap: 20px;
  height: 100%;
}

.feed-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feed-column .feed-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 10px 10px 20px;
  margin: 0;
}

.feed-container {
  flex: 1;
  background-color: #1b1c23;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.feed-container::-webkit-scrollbar {
  display: none;
}

.post {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: calc(100% - 40px);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.post-user-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.post-user-info span {
  color: #8899a6;
  font-size: 12px;
}

.post-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-content p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.post-image {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.post-actions {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  border-top: 1px solid #22303c;
}

.action-btn {
  background: none;
  border: none;
  color: #1da1f2;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s;
  font-size: 20px;
}

.action-btn:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.action-btn p {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

@media (max-width: 1024px) {
  .feed-container {
    padding: 20px;
    gap: 30px;
  }

  .main-feed {
    flex: 1;
    padding: 80px 20px 0 20px;
    overflow: hidden;
  }
}
