<div class="app-container">
  <aside class="right-sidebar">
    <nav class="right-menu">
      <div class="search-wrapper">
        <input
          type="text"
          placeholder="Buscar"
          class="search-input"
          [(ngModel)]="searchInput"
          (ngModelChange)="buscarUsuarioPor()"
        />
        <ul class="results-list" *ngIf="usuarios.length > 0">
          <li
            *ngFor="let usuario of usuarios"
            (click)="selecionarUsuario(usuario)"
            class="result-item"
          >
             <img [src]="usuario.foto" alt="fotoPerfil" class="avatar" /> 
            <div class="user-info">
              <div class="name">{{ usuario.nome }}</div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Quem Seguir transformado em tabela -->
      <div class="suggestions">
        <h3 class="suggestions-title"></h3>
        <table class="suggestions-table">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="user-cell">
                <div class="suggestion-info">
                  <strong>Maria Silva</strong>
                  <span>mariasilva</span>
                </div>
              </td>
              <td class="action-cell">
                <button class="follow-btn">Seguir</button>
              </td>
            </tr>
            <tr>
              <td class="user-cell">
                <div class="suggestion-info">
                  <strong>João Souza</strong>
                  <span>joaosouza</span>
                </div>
              </td>
              <td class="action-cell">
                <button class="follow-btn">Seguir</button>
              </td>
            </tr>
            <tr>
              <td class="user-cell">
                <div class="suggestion-info">
                  <strong>Ana Pereira</strong>
                  <span>anapereira</span>
                </div>
              </td>
              <td class="action-cell">
                <button class="follow-btn">Seguir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="divider"></div>

      <a href="#" class="right-item">Mensagens</a>
      <a href="#" class="right-item" (click)="deslogar()">Logout</a>
    </nav>
  </aside>
</div>
