<div class="app-container">
  <aside class="right-sidebar">
    <nav class="right-menu">
      <div class="search-wrapper">
        <input
          type="text"
          placeholder="Buscar"
          aria-label="Buscar usuário"
          class="search-input"
          [(ngModel)]="searchInput"
          (ngModelChange)="buscarUsuarioPor()"
        />
        <ul class="results-list" *ngIf="searchInput && usuarios.length > 0">
          <li
            *ngFor="let usuario of usuarios"
            (click)="selecionarUsuario(usuario)"
            class="result-item"
          >
            <div class="avatar-container">
              <ng-container *ngIf="usuario.loadingPhoto">
                <ng-icon name="heroArrowPath" class="spinner-small"></ng-icon>
              </ng-container>
              <img [src]="usuario.foto" alt="Foto de perfil de {{usuario.nome}}" class="avatar" *ngIf="!usuario.loadingPhoto && usuario.foto"/>
            </div>
            <div class="user-info">
              <div class="name">{{ usuario.nome }}</div>
            </div>
          </li>
        </ul>
        <p class="no-results" *ngIf="searchInput && usuarios.length === 0">Nenhum usuário encontrado</p>
      </div>

      <section class="suggestions">
        <h3 class="suggestions-title">Sugestões para você</h3>
        <ul class="suggestions-list">
          <li *ngFor="let usuario of usuariosRecomendados" class="suggestion-item">
            <div class="suggestion-info">
              <div class="avatar-container">
                <ng-container *ngIf="usuario.loadingPhoto">
                  <ng-icon name="heroArrowPath" class="spinner-small"></ng-icon>
                </ng-container>
                <img [src]="usuario.foto" alt="Foto de perfil de {{usuario.nome}}" class="avatar" *ngIf="!usuario.loadingPhoto && usuario.foto"/>
              </div>
              <strong>{{ usuario.nome }}</strong>
            </div>

            <button
            class="follow-btn"
            [class.following]="usuario.isFollowing"
            (click)="seguirUsuario(usuario)"
            >
            {{ usuario.isFollowing ? 'Seguindo' : 'Seguir' }}
          </button>
        </li>
      </ul>
    </section>

    <div class="divider"></div>

    <button type="button" class="right-item">Mensagens</button>
    <button type="button" class="right-item" (click)="deslogar()">Logout</button>
  </nav>
</aside>
</div>